---
import ViewTransitions from 'astro/components/ViewTransitions.astro'
import { siteInfo } from '@globals/site-info'
import { LangPicker } from '@components/index.astro'
import { Navbar, Menu, Footer } from '@components/Dasboard/components'
import logo from '@assets/logo3.png'
import type { Lang } from '@interfaces/index' 

interface Props {
 lang?: Lang 
 title?: string
 image?: string
 description?: string
 menuTitle: string
 rights?: string
 currentLang?: Lang
}

const {lang = siteInfo.lang, title = siteInfo.title, image = siteInfo.image, description = siteInfo.description, menuTitle, rights = siteInfo.rights, currentLang = 'es'} = Astro.props

const siteUrl = Astro.url.href
---


<!DOCTYPE html>
 <html lang={lang}>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content={Astro.generator} />
  <link rel="icon" type="image/png+xml" href={logo.src} />
  <!-- Primary Meta Tags -->
  <title>{title}</title>
  <ViewTransitions />
  <meta name="description" content={description} />
	<meta name="author" content="Manuel Morales" />
	<meta property="og:locale" content={lang} />
  <meta property="og:type" content="website" />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={siteUrl} />
		<meta property="og:site_name" content={title} />
		<meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={image} />
  <meta name="og:image" content={image} />
  </head>
  <body>
    <LangPicker />
    <main class="main">
      <Navbar lang={currentLang} client:load />
      <div class="container">
        <div class="menu-container">
          <Menu client:load lang={currentLang} />
        </div>
        <div class="content-container">
          <slot />
        </div>
      </div>
      <Footer />
    </main>
  </body>
</html>

<style is:global lang="scss">
  .main {
    @apply bg-color-mainBg text-white w-full;
    .container {
      @apply flex !max-w-[1900px] px-0 sm:px-11 overflow-y-hidden;
      .menu-container, .content-container {
        @apply py-2 sm:px-5;
      }
      .menu-container {
        @apply w-12 mr-2 sm:mr-0 sm:w-64 border-r-2 border-color-softBg;
      }
      .content-container {
        @apply w-[62%] sm:w-full;
      }
    }
  }
</style>


